---

---

<main class="flex flex-col md:flex-row items-center gap-[32px]">
  <section class="flex flex-col justify-center gap-[16px]">
    <h1
      class="text-[32px] md:text-[40px] xl:text-[64px] text-center md:text-left xl:text-left font-bold leading-none"
    >
      Lorem Ipsum Dolor Sit Amet
    </h1>
    <p
      class="text-[24px] md:text-[26px] xl:text-[24px] text-center md:text-left xl:text-left leading-tight"
    >
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere excepturi
      nesciunt earum laudantium, consequatur eum eligendi
    <ul
      class="flex flex-col md:flex-row gap-[8px items-center justify-start md:justify-start xl:justify-start"
    >
      <li>
        <a
          href="/gycp"
          class="flex items-center justify-center bg-[#252525] text-white py-2 px-4 rounded-3xl"
          >GLOBAL YOUTH CLIMATE PACT
        </a>
      </li>
      <li>
        <a
          href="/blog"
          class="flex items-center justify-center text-black py-2 px-4 rounded-3xl"
          >Blog&nbsp;&nbsp;&nbsp;⭢
        </a>
      </li>
    </ul>
  </section>
  <aside class="flex flex-col gap-[16px] w-[100%]">
    <img
      src="https://via.placeholder.com/1000"
      alt=""
      class="h-[350px] rounded-md object-cover"
    />
    <img
      src="https://via.placeholder.com/1000"
      alt=""
      class="h-[150px] rounded-md object-cover"
    />
  </aside>
</main>
